
* {
    border: solid greenyellow 1px;
    padding: 20px 20px 20px 20px;
    font-size: 12px;
}
/* зелёная граница и отступы для всех элементов на странице */
h1 {padding: 10px}
a {padding: 2px;}
:lang(ru) 	{
    font-style: oblique;
}
body div header h1 a img{
    padding: 3px 2px 3px 2px;
    hight: 12em;
    width: 12em;
}
body div header + main section article{
    color: #6f141a;
    background-color: aliceblue;
    font-size: 10px;
}
body div header + main + footer address + span{
    font-size: 0.8em;
    padding: 2px 5px 2px 5px;
    background-color: antiquewhite;
}
