* {
    font-size: 1em;
    border: solid #6f141a 2px;
}
div {
    display: flex;
    flex-direction: column;
}
div+div {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    justify-content: space-around;
}

div div :nth-child(1) {
    background-color: red;
    -webkit-transition: width 2s, height 4s; /* Safari */
    transition: width 2s, height 4s;
}
div div :nth-child:hover(1) {
    background-color: red;
    -webkit-transition: width 2s, height 4s; /* Safari */
    transition: width 2s, height 4s;
}
div div+div :nth-child(1) {
    background-color: blueviolet;
}
div div :nth-child(2) {
    background-color: orange;
    top: 0;
    transition: top ease 1s;
}
div div+div :nth-child(2) {
    background-color: blue;
}
div div :nth-child(3) {
    background-color: yellow;
}
div div+div :nth-child(3) {
    background-color: aqua;
}

div div div {
    /*background-color: #e1cd92;*/
    border-radius: 100%;
    display: inline-block;
    /*width: 50px;*/
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    /*padding-top: 30px;*/
    text-align: center;
    font-size: 0.8em;
    justify-content: center;
}
div > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container:hover{
    transition: 3s;
    transform: rotate(360deg);
}
div div :nth-child(2):hover {
    /*position: relative;*/
    position: relative;
    transform: translateX(50vw) rotate(720deg);
    transition: linear 5s;
}
div div :nth-child(3):hover {
    transform: scale(1.5) rotate(-10deg);
}