*{
    text-decoration: none;
}
div {
    padding: 20px 20px 20px 20px;
    border: solid black 2px;
    /*background-color: greenyellow;*/
}
.main-nav div {
    background-color: antiquewhite;}
.wrap > div {
    background-color: darkcyan;}

div.main-nav :nth-child(1) div{
  background-color: gray;
}
div.main-nav div :nth-child(1) div{
    background-color: cadetblue;
}
div.main-nav div div :nth-child(1) div{
    background-color: pink;
}
ul {
    font-size: 4vw;
    text-decoration: none;
    border: solid beige 1px;
}
ul :first-child{
    border-bottom: solid blue 1px
}

ul :last-child{
    border-bottom: solid #8a8714 1px
}
ul li a {
  border-bottom: none !important;
}
ul :only-child {
    font-size: 3vw;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
.hrefer {
    color: red;
    font-size: 3vw;
    text-decoration: none;
}