* {
    font-size: 0.9em;
}
table {
    border: 1px solid;
    background-color: #fafbe8;
}
caption {
    font-size: 2em;
    font-style: italic;
    padding: 3px 10px 10px 10px;
}
th {
    font-size: 1.5em;
    text-align: center;
    background-color: #f5e1a2 ;
}
table tr:nth-child(2) {
    font-size: 1.5em;
    text-align: center;
}
table tr:nth-child(n+3) td:nth-child(1){
    background-color: #e1cd92;
    font-style: italic;
    font-size: 1.2em;
}  /* заливка названий фракций */
table tr:nth-child(n+3) td:nth-child(1)::first-letter{
    font-size: 1.2em;
    font-style: normal;
}  /* сделал первую цифру в названиях фракций больше */

table tr:nth-child(n+3) td:nth-child(n+2) {
    background-color: #f5e1a2;
    font-style: italic;
} /* нечётные строки существ светло-бежевым цветом */

table tr:nth-child(odd) td:nth-child(n+2) {
    background-color: #deb972;
} /* нечётные строки отдела существ более тёмного цвета */

table :last-child tr:nth-child(n+11) td:nth-child(n+2){
    background-color: aliceblue;
}
table tr:nth-child(n+2) td:last-child{
    text-align: right;
}   /* Выровнял текст последнего столбца вправо  */